.content {
  margin-top: 20px;
}

.content-header {
   display: flex;
   justify-content: space-between;
}
.body-menu {
   background: #FFFFFF;
   border: 1px solid rgba(103, 98, 98, 0.3);
   box-sizing: border-box;
   box-shadow: 0px 3px 5px rgba(117, 117, 117, 0.05);
   border-radius: 1px;
   flex: 1 1 auto;
   max-width: 460px;
   padding-bottom: 10px;
   @media(max-width:767px) {
      display:none;
   }
}
.body-menu__title {
   font-size: 28px;
   font-weight: 700;
   line-height: 33px;
   color: #151515;
   display: inline-block;
   margin: 37px 0 10px 25px;
   @media(max-width:1023px) {
      font-size: 23px;
   }
}
.body-menu__list {
   width: 300px;
   @media(max-width:1023px) {
      width: 210px;
   }
}
.body-menu-item {
   border-bottom: 1px solid #6762622d;
   border-left: 1px solid transparent;
   border-right: 1px solid transparent;
   margin-left: 15px;
   margin-right: 15px;
   min-height: 50px;
   display: flex;
   align-items: center;
   padding-left: 10px;
   &:last-child {
      border-bottom: none;
   }
   &:hover {
      background: #F8F8F8;
      border: 1px solid rgba(103, 98, 98, 0.3);
      box-sizing: border-box;
      box-shadow: 0px 4px 10px rgba(196, 196, 196, 0.18);
      border-radius: 1px;
   }
}
.body-menu-link {
   font-size: 14px;
   line-height: 22px;
   color: #252525;
}

.body-menu__furniture-list{
   display: none;
}
.body-menu__span {
   display:none;
}


.content-header__info {
   margin-left: 10px;
   display: flex;
   flex-direction: column;
   flex:1 1 auto;
   @media(max-width:1023px) {
      margin-left: 5px;
   }
   @media(max-width:767px) {
      margin-left: 0;
   }
}

.content-header__advertising {
   max-width: 100%;
}

.content-header__img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   @media(max-width:767px) {
      display: none;
   }
}

.content-header__img1 {
   width: 100%;
   height: 100%;
   object-fit: cover;
   display:none;
   @media(max-width:767px) {
      display: flex;
   }
   @media(max-width:480px) {
      display: none;
   }
}
.content-header__img2 {
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: none;
   @media(max-width:480px) {
      display: flex;
   }
}

.content-header__services-list {
   display: flex;
   justify-content: space-around;
   margin-top: 20px;
   background: #FFFFFF;
   border: 1px solid rgba(103, 98, 98, 0.3);
   box-sizing: border-box;
   box-shadow: 0px 3px 5px rgba(117, 117, 117, 0.05);
   border-radius: 1px;
}
.services-items {
   flex: 0 1 33.333%;
   display: flex;
   justify-content: center;
   margin: 20px 0 20px 0;
   min-height: auto;
   &:last-child {
      margin-right: 0px;
   }
   @media(max-width:1060px) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
   }
}
.services-items-block-img {
   height: 84px;
   width: 84px;
   padding: 10px 0 0 0;
   margin-bottom: 10px;
   &:first-child {
      margin-left: 3px;
   }
   @media(max-width:767px) {
      height: 50px;
      width: 50px;
   }
}
.services-items-img {
   @media(max-width:1085px) {
      display: none;
   }
}
.services-items-img1 {
   display:none;
   @media(max-width:1085px) {
      display: flex;
   }
   @media(max-width:767px) {
      width: 50px;
      height: 50px;
   }
}

.services-items-text{
   margin-left: 24px;
   @media(max-width:1230px) {
      margin-left: 15px;
   }
   @media(max-width:1205px) {
      margin-left: 10px;
   }
   @media(max-width:1100px) {
      margin-left: 5px;;
   }
}
.services-items-p1 {
   font-size: 21px;
   font-weight: 500;
   line-height: 25px;
   margin-bottom: 8px;
   @media(max-width:1245px) {
      font-size: 19px;
   }
   @media(max-width:1135px) {
      font-size: 18px;
   }
   @media(max-width:1060px) {
      text-align: center;
   }
   @media(max-width:767px) {
      font-size: 15px;
      line-height: 20px;
   }  
}
.services-items-p2 {
   font-size: 17px;
   font-weight: 300;
   line-height: 23px;
   @media(max-width:1245px) {
      font-size: 15px;
   }
   @media(max-width:1135px) {
      font-size: 14px;
   }
   @media(max-width:1060px) {
      text-align: center;
   } 
   @media(max-width:767px) {
      display: none;
   }
}

//CONTENT BODY/////////////////////////////////////////////////////////////////////////////

.content__body {
   
}
.content-body {

}
.content-body__category {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.body-category__title {
   font-weight: bold;
   font-size: 30px;
   line-height: 35px;
   text-transform: uppercase;
   color: #151515;
   padding: 30px 0 20px 0;
}

.body-category {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   @media(max-width:1200px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
   }
   @media(max-width:620px) {
      grid-template-columns: 1fr 1fr;
   }
}

.body-category__link {
   display: block;
   margin-bottom: 10px;
   margin-right: 5px;
   margin-left: 5px;
}
.body-category__container {
   height: 240px;
   background: #FFFFFF;
   border: 1px solid rgba(103, 98, 98, 0.3);
   box-sizing: border-box;
   box-shadow: 0px 3px 5px rgba(117, 117, 117, 0.05);
   border-radius: 1px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
   padding: 0 10px 0 10px;
   transition: all 0.5s;
   &:hover {
      background: #FFC50C;
      border: 1px solid rgba(103, 98, 98, 0.3);
      box-sizing: border-box;
      box-shadow: 0px 3px 5px rgba(117, 117, 117, 0.05);
      border-radius: 1px;
   }
}
.body-category__img {
   max-width: 100%;
   margin-top: 30px;
   width: 130px;
   height: 130px;
}
.body-category__name {
   margin-bottom: 20px;
   min-height: 50px;
   display: block;
   font-weight: 500;
   font-size: 20px;
   line-height: 23px;
   text-align: center;
   color: #252525;
   word-wrap: break-word;
   padding: 0 10px;
   @media(max-width:1400px) {
      font-size: 16px;
   }
}