body {
   font-family: "Roboto";
}

.header {
}
.header__content {
}


.header__top {
   background-color: #3B3636;
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-height: 65px;
}

.header__top-dropdown {
   flex: 1 1 33.333%;
}
.header__top-min {
   display: none;
}
.header__question-min-img {
}

.header__question-list {
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
}

.header__question-item {
   margin-right: 20px;
   a {
      color: white;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      padding-left: 18px;
      transition: all 0.5s;
      &:hover {
         color: #FFC50C;
      }
   }
}
.header__advantages {
   background-image: url(../images/like.svg);
   background-repeat: no-repeat;
   background-position: 0 50%;
   &:hover {
      background-image: url(../images/like-hover.svg);
   }
}
.header__chat {
   background-image: url(../images/quest.svg);
   background-repeat: no-repeat;
   background-position: 0 50%;
   &:hover {
      background-image: url(../images/quest-hover.svg);
   }
}
.header__experts {
   background-image: url(../images/sms.svg);
   background-repeat: no-repeat;
   background-position: 0 50%;
   &:hover {
      background-image: url(../images/sms-hover.svg);
   }
}
.logo {
   
}
.logo-link {
   color: white;
   font-size: 40px;
   font-weight: 700;
}



.header__contacts {
   flex: 1 1 33.333%;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.header__phone {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   flex-wrap: wrap;
}

.phone {
   margin-right: 15px;
}
.phone-min-img {
   display:none;
}

.phone-link {
   padding-left: 20px;
   background-image: url(../images/phone.svg);
   background-repeat: no-repeat;
   background-position: 0 50% ;
   color: white;
   font-size: 16px;
   font-weight: 500;
   line-height: 19px;
}
.head-button-viber {
   background: #FFC50C;
   box-shadow: 0px 1px 2px rgba(160, 103, 36, 0.17);
   width: 135px;
   height: 30px;
   padding: 7px;
   white-space: nowrap;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.3s;
   &:hover {
      background: #8B66A9;
      box-shadow: 0px 1px 2px rgba(160, 103, 36, 0.17);
      cursor: pointer;
      a {
         color: #FFFFFF;
      }
   }
}
.head-button-viber-linck {
   color: #252525;
   font-family: Roboto;
   font-size: 14px;
   font-weight: 500;
   line-height: 16px;
}

@media(max-width:767px) {
   .header {
   }
   .header__content {
      
   }
   .header__top {
      min-height: 45px;
      display: flex;
      justify-content: space-between;
   }

   .header__top-dropdown {
      flex:0;
      display: inline-block;
      position:relative;
      z-index: 20;
   }

   // .header__top-dropdown:hover .header__question-list {
   //    display: block;
   // }

   .header__top-min {
      display: block;
      position: relative;
      z-index: 2;
   }
   .header__top-min-img {
   }
   .header__question-list {
      display: none;
      position: absolute;
      top: 0px;
      padding-top: 36px;
      padding-left: 0;
      min-width: 160px;
   }
   .header__question-item {
      background-color:  #3B3636;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      margin: 0;
      a {
         margin-left: 10px;
         color: white;
         padding: 12px 20px;
         text-decoration: none;
         display: block;
      }
   }
   .header__advantages {

   }
   .header__chat {
      
   }
   .header__experts {

   }
   .logo {
   
   }
   .logo-link {
      font-size: 35px;
   }



   .header__contacts {
      flex:0;
      display: flex;
      justify-content: flex-end;
   }

   // .header__contacts:hover .header__phone {
   //    display: block;
   // }
   
   .header__phone {
      display: none;
      position: absolute;
      right: -5px;
      top: 0px;
      padding-top: 36px;
      padding-left: 0;
      min-width: 160px;
      z-index: 3;
      a {
         margin-left: 10px;
         color: white;
         padding: 12px 20px;
         text-decoration: none;
         display: block;
      }
   }
   .phone {
      background-color:  #3B3636;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   }
   .phone-link {
   }
   .head-button-viber {
      display:none;
   }
   .head-button-viber-linck {
   }
   .phone-min {
   }
   .phone-min-img {
      display: block;
      position: relative;
      z-index: 3;
      width: 20px;
      height: 20px;
   }
}

//===============================================================================================================================

.header__bottom {
   background: #FFFFFF;
   border: 0px solid rgba(103, 98, 98, 0.3);
   box-sizing: border-box;
   box-shadow: 0px 7px 6px rgba(117, 117, 117, 0.08);
   width: 100%;
   min-height: 85px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   @media (max-width: 767px) {
      min-height: 55px;
   }
}
.menu {
   margin-right: 10px;
}
.menu__list {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   @media(max-width:1070px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-items: start;
      align-items: start;
      margin-top: 3px;
      .menu__item {
         height: auto;
         margin-left: 0px;
         a {
            padding: 2px;
         }
      }
   }
   @media(max-width:767px) {
      display:none;
   }
}
.menu__item {
   margin-left: 1px;
   border: 1px solid transparent;
   display: flex;
   align-items: center;
   height: 64px;
   transition: all 0.2s linear 0s;
   &:first-child {
      margin-left: 0px;
   }
   &:hover {
      background: #F8F8F8;
      border: 1px solid rgba(103, 98, 98, 0.3);
      box-sizing: border-box;
      box-shadow: 0px 4px 10px rgba(196, 196, 196, 0.18);
      border-radius: 1px;
   }
   @media (max-width:1023px){
      margin-top: 5px;
   }
}
.menu__item-link {
   font-size: 17px;
   line-height: 22px;
   color: #252525;
   padding: 5px;
   display: flex;
   width: 100%;
   height: 100%;
   align-items: center;
}

.header__search {
   display: flex;
   flex: 1 1 auto;
   justify-content: flex-end;
   margin-right: 21px;
}
.header__search-form {
   position: relative;
}
.header__input-field {
   background: #e2e2e2;
   border: 2px solid rgba(103, 98, 98, 0.3);
   border-radius: 1px;
   width: 280px;
   min-height: 40px;
   padding: 10px;
   @media (max-width:1023px){
      width: 240px;
   }
   @media(max-width:767px) {
      width: 200px;
      min-height: 30px;
      padding: 0px;
   }
}
.header__input-batton {
   background-image: url(../images/search.svg);
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-color:#605D5D;
   position: absolute;
   top: 0px;
   right: 1px;
   width: 39px;
   height: 39px;
   @media(max-width:767px) {
      width: 29px;
      height: 29px;
   }
}
.busket {
   
}
.busket-link {
}
.busket-img {
   width: 40px;
   height: 40px;
   @media(max-width:767px) {
      width: 35px;
      height: 35px;
   }
}




