//&display=swap&subset=cyrillic-ext
@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap&subset=cyrillic-ext);
@import "null";
@import "header";


.container {
   max-width: 1940px;
   padding: 0 10px;
   margin: 0 auto;
}

a {
   color: white;
   font-family: "Roboto";
   display: inline-block;
   white-space: nowrap;
   & :active {
      color: white;
   }
}



