//&display=swap&subset=cyrillic-ext
@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap&subset=cyrillic-ext);
@import "null";
@import "header";
@import "body";
@import "different/menu_burger";
@import "different/rating";

@import "../../node_modules/swiper/components/navigation/navigation.scss";
@import '../../node_modules/swiper/swiper.scss';



$widthIPad: 767px;


.container {
   max-width: 1940px;
   padding: 0 10px;
   margin: 0 auto;
}

body {
   background: #E5E5E5;
}






